/*STYLE 2*/

@import url("https://fonts.googleapis.com/css?family=Dosis");

html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/uploads/1413387158190559d80f7/6108b580?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c69c5f4498aa8aa061a3ee9177b70889&auto=format&fit=crop&w=1350&q=80")
    no-repeat;
  background-size: cover;
  object-fit: cover;
}

body::after {
  content: "";
  height: 100vh;
  width: 100vw;
  background: rgba(214, 214, 214, 0.082);
  position: absolute;
  z-index: -1;
}

.App__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.Todo-App__container {
  width: 500px;
  min-height: 350px;
  margin: 50px auto;
  padding: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background: #000000b8;
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
  border-radius: 10px;
  box-shadow: -1px -1px 6px #232323;
}

.Todo__container {
  display: flex;
  align-items: center;
}

.Todo__input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 0.5px solid #e4e4e4;
  font-style: italic;
  font-weight: bold;
  color: #d6d6d6;
  background: transparent;
  border: none;
  border-bottom: 0.5px solid white;
}

h2 {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 10px 0;
}

button,
.checkmark {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
}

.checkbox__label {
  position: relative;
  display: block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox ~ .checkmark {
  position: absolute;
  display: block;
  background: #f5f5f56e;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  line-height: 20px;
  box-shadow: inset 0px 0px 8px rgb(175, 175, 175);
}

.checkbox:checked ~ .checkmark {
  background: rgb(0, 0, 0, 0.6);
  color: white;
  box-shadow: inset 0px 0px 8px rgb(0, 0, 0, 0.6);
  text-align: center;
}

.checkbox:checked ~ .checkmark::after {
  content: "\2713";
}

.Todo__item {
  margin-right: auto;
  flex: 2 1 60%;
  text-align: center;
  font-size: 20px;
}

.Todo__item--done {
  text-decoration: line-through;
}

.Todo__delete-button {
  border: none;
  border-radius: 3px;
  background: rgb(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.945);
}

.Todo__delete-button .fa {
  display: block;
}

.Todo-Controls__container {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.Todo-control__button {
  border: 0;
  margin: 0;
  padding: 10px 15px;
  margin-left: 4px;
  background: rgb(0, 0, 0, 0.6);
  border-radius: 3px;
  color: white;
}

.Todo-control__button--selected {
  background: red;
}

button:hover {
  background: red;
}

.Todo-control__button:active {
  background: rgb(75, 75, 75);
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
  background: #333;
}

/**ANIMATION**/

/* ----------------------------------------------
 * Generated by Animista on 2018-11-7 12:54:51
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
